@import url('https://fonts.googleapis.com/css2?family=Changa:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Changa', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow:  hidden;
}

.container{
    display: flex;
    width: 90vw;
}

.palette {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: rgb(15, 7, 7);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  

.palette h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .palette.active {
    flex: 5;
  }
  
  .palette.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .palette:nth-of-type(4),
    .palette:nth-of-type(5) {
      display: none;
    }
  }